.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.info {
	font-size: 18px;
	font-weight: 500;
	color: salmon;
}

.btn {
	width: 150px;
	height: 50px;
	font-size: 16px;
	color: salmon;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgb(221, 219, 219);
	transition: all 0.3s;
}

.btn:hover {
	background-color: rgba(221, 219, 219, 0.7);
}

.btnDefault {
	cursor: default;
	background-color: rgba(221, 219, 219, 0.3);
}

.btnDefault:hover {
	background-color: rgba(221, 219, 219, 0.3);
}
